body {
  font-family: "Poppins", sans-serif;
}
.navbar .container .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

.jumbotron img {
  width: 200px;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
